{% extends "base.html" %}

{% block title %}
Mochitsuki -- Welcome
{% endblock %}

{% block content %}
<section>
	<h2>Welcome</h2>
	<p>This is a simple front end for Mochitsuki. <br>For best results, break up your text input into small to medium length paragraphs (3 to 5 sentences).</p>
	<form action="/" method="post">
		{{form.hidden_tag()}}

		<fieldset>
		{% for subfield in form.prompt %}
		<div>
			{% if subfield.data == form.prompt.data %}
			{{ subfield(id=subfield.id, value=subfield.data, checked=true) }}
			{% else %}
			{{ subfield(id=subfield.id, value=subfield.data, checked= subfield.data == form.prompt.choices[0][0] ) }}
			{% endif %}
			{{ subfield.label }}
		</div>
		{% endfor %}
		</fieldset>

		<div>{{ form.parent(placeholder="Parent (optional)") }} {{ form.deck(placeholder="Deck") }}</div>

		{{ form.textinput(id="text-input", rows="10", cols="75", placeholder="Enter the text you would like to generate cards from here") | safe }}

		<div>
			<button type="submit">Generate cards</button>
		</div>
	</form>
</section>
{% endblock %}